<div class="w-full">
    <div class="grid grid-cols-2 ">
        <div class=" flex justify-center">
        <div class="w-3/4">
            <h1 class="text-blue-800 font-bold text-3xl">{{ accion }} Curso</h1>
        <mat-card class="mat-elevation-z8 p-5 ">
            
            <form [formGroup]="myForm" autocomplete="off">
                <div class="w-full">
                    <mat-form-field class="w-full text-base" >
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                      </mat-form-field>
                      <div *ngIf="nombreInvalido" style="margin-top: -20px;">
                          <span class="text-red-600">Este campo es <strong>requerido</strong></span>
                      </div>
                      <div *ngIf="myForm.get('nombres')?.hasError('maxlength') && myForm.get('nombres')?.touched" style="margin-top: -20px;">
                        <span class="text-red-600">El campo debe tener como maximo <strong> 20 caracteres</strong></span>
                    </div>
                </div>
                <br>
                <div class="w-full">
                    <mat-form-field class="w-full">
                        <mat-label>Codigo</mat-label>
                        <input matInput formControlName="codigo">
                    </mat-form-field>
                    <div *ngIf="myForm.get('codigo')?.hasError('required') && myForm.get('codigo')?.touched" style="margin-top: -20px;">
                        <span class="text-red-600">Este campo es <strong>requerido</strong></span>
                    </div>
                    <div *ngIf="myForm.get('codigo')?.hasError('pattern') && myForm.get('codigo')?.touched" style="margin-top: -20px;">
                        <span class="text-red-600">Solo se permiten <strong>numeros</strong></span>
                    </div>
                </div>
                <br>
                <div class="w-full flex flex-row-reverse">
                    <button mat-raised-button class="  bg-blue-500" [disabled]="!myForm.valid"
                    type="button" style="margin-left: 10px;" (click)="guardarCurso()">Aceptar</button>
                    <button mat-raised-button class="bg-red-400 " routerLink="/"
                            type="button">Cancelar</button>
                </div>
            </form>
        </mat-card>
        </div>
        </div>
        <div class=" flex justify-center">
            <img  src="../../../assets/estudiante.png" alt="" >
        </div>
    </div>
    </div>
    